<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tut</title>

    <!-- some dependencies and frameworks... -->
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    <!-- Milligram CSS -->
    <!--<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="node_modules/milligram/dist/milligram.min.css">
    <link rel="stylesheet" href="https://milligram.github.io/styles/main.css">-->

    <!-- Skeleton CSS -->
    <link rel="stylesheet" href="./skeleton-css/normalize.css">
    <link rel="stylesheet" href="./skeleton-css/skeleton.css">

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/7ade5183e4.js"></script>

    <!-- Custom css -->
    <!-- TO BO CHANGED! -->
    <link rel="stylesheet" href="custom.css">

</head>

<body>


    <!-- should be split after into resuable components! -->
    <!--<div id="home">-->


    <!-- NAVBAR -->
    <!-- issue 1 -->
    <!-- THIS REALLY REQUIRES A SEPARATE VUE COMPONENT! -->
    <div>
        <div class="navigation" v-if="!(menuactive)">
            <h5>
                <a class="menu-btn" v-on:click="showmenu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <a class="menu-title" href="#init"><b>PROXY:/ </b></a>
            </h5>
        </div>
        <!-- navigation itself -->

    </div>
    <!-- END OF NAVBAR -->

    <!-- WELCOME -->
    <!-- issue 2 -->
    <header>
        <!--header contains the background picture in css-->
        <div id="welcome" class="container center-wrap">
            <div class="centered-hor centered-ver">
                <!--content goes here-->
                <div>
                    <img src="proxy.png" style="max-width:100%" />
                </div>
            </div>
        </div>
    </header>
    <!-- section closing tag -->

    <!-- END OF WELCOME -->
    <div id="init"></div>

    <!-- QUOTE -->
    <!-- issue 3, assigned: Dmitrii -->
    <section id="we-are">
        <div id="homequote" class="container section">
            <div class="row">
                <div class="c12 columns">
                    <!-- not sure abou the code styling to be used here in the end -->
                    <!--<pre><code>
            We are proxy, the student association for the ICT English stream
            Our job is to connect students to each other and companies    
            </code></pre>-->
                    <h4 class="centered-hor">
                        We are proxy, the student association for the ICT English stream <br/> Our job is to connect students to each other and companies
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="c8 off-c2 columns centered-hor">
                    <pre><code class="smallmargin">What is Proxy?
"... A proxy, in its most general form, is a class 
functioning as an interface to something else. 
The proxy could interface to anything:..."" 
-- <a href="https://en.wikipedia.org/wiki/Proxy_pattern" target="_blank">Wikipedia</a>  --</code></pre>
                    <h4>
                        And so we are the interface to fun!
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF QUOTE -->

    <!-- SERVICES -->
    <!-- issue 4, assigned: Dmitrii -->
    <section>
        <div id="services" class="container section">
            <div class="row">
                <h1 class="centered-hor section-head">
                    Event Types
                </h1>
            </div>
            <div class="row top-margin">
                <div class="c3 columns centered-hor">
                    <!-- pictures need to be changed -->
                    <img src="basic_star.png" class="value-img" />
                    <h5>Party</h5>
                    <h6>Meet other students, share drinks and have fun</h6>
                </div>
                <div class="c3 columns centered-hor">
                    <img src="basic_star.png" class="value-img" />
                    <h5>Classes</h5>
                    <h6>Learn more about IT at our workshops and lectures</h6>
                </div>
                <div class="c3 columns centered-hor">
                    <img src="basic_star.png" class="value-img" />
                    <h5>Competitions</h5>
                    <h6>Join our gaming and sports challenges to WIN BIG</h6>
                </div>
                <div class="c3 columns centered-hor">
                    <img src="basic_star.png" class="value-img" />
                    <h5>Support</h5>
                    <h6>We are always ready to help with any troubles</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF SERVICES -->

    <!-- AGENDA -->
    <!-- issue 5, assigned: Dmitrii -->
    <section>
        <div id="agenda" class="container section">
            <div class="row">
                <h1 class="centered-hor section-head">
                    Agenda
                </h1>
                <div class="c6 columns">
                    <transition-group name="agenda-list">
                        <div class="agenda-item" v-for="ev in events" :key="ev.start_time" v-cloak="">
                            <!--<h6>2017-03-28 : 16:00:00 - 20:00:00</h6>-->
                            <h6 v-bind:class="checkupcomingevent(ev)">{{geteventtime(ev)}}</h6>
                            <!--name-->
                            <h5>{{ev.name}}</h5>
                            <!--description-->
                            <p>{{ev.description.substring(0,100)}}...<br/>
                                <span style="line-height:3em;">
                            <!-- the link is made of: https://www.facebook.com/events/ + page id from API -->
                            <a :href="'https://www.facebook.com/events/'+ev.id" target="_blank">Updates on Facebook</a>
                            </span>
                            </p>
                        </div>
                    </transition-group>
                    <!-- Placeholder to show loading sign until the results are obtained-->
                    <div>
                        <h4 v-text="loadingplaceholder" v-if="notloaded"></h4>
                    </div>

                    <!-- Buttons -->
                    <!--<transition name="btns">-->
                    <div>
                        <button @click="getevents">
                        More Events!
                        </button>
                        <button @click="geteventsreset" v-if="activeless">
                            Show less...
                        </button>
                    </div>
                    <!--</transition>-->

                </div>

                <!--<div class="c6 off-c2 columns">-->
                <!-- place for a map? -->
                <!--<google-map :center="center" :zoom="7" style="width: 100%; height: 500px">-->
                <!--<google-marker v-for="ev in events" :position="getmarkerposition(ev)" :clickable="true" :draggable="true" @click="center=getmarkerposition(ev)"></google-marker>-->
                <!--</google-map>-->
                <!--</div>-->
            </div>
        </div>
    </section>
    <!-- END OF AGENDA -->

    <!-- CONTACTS -->
    <!-- issue 6 -->
    <section>
        <div id="contacts" class="container section">
            <div class="row centered-hor section-head">
                <h1 class="">
                    Contacts
                </h1>
                <div class="c6 columns off-c3">
                    <br/>
                    <p>We are always happy to see you, answer all the questions and offer all the help <span class="pale-txt">(and cookies)</span> we can</p>
                </div>
            </div>
            <div class="row">
                <div class="c5 columns">
                    <img src="https://www.pinoyhouseplans.com/wp-content/uploads/2014/05/pinoy-house-plans-2014004-second-floor.jpg" style="width:100%;" />
                </div>
                <div class="c5 columns off-c2 centered-hor">
                    <!-- would be awesome to make it centered -->
                    <h5><b>Proxy Room</b></h5>
                    <p>2.60<br/>Second Floor<br/>Fontys R1<br/><br/></p>
                    <!-- need to preserve double line space -->
                    <h6><b>Address</b></h6>
                    <!--Latitude:51.452371°
                        Longitude:5.481289°-->
                    <p><i class="fa fa-compass" aria-hidden="true"></i> &#160&#160<a href="https://www.google.com/maps?q=Fontys%20-%20Campus%20Rachelsmolen" target="_blank">51.452371; 5.481289</a>
                        <br/>Rachelsmolen 1<br/>5612 MA Eindhoven<br/>Noord-Brabant</p>

                    <h6><b>Reach Us</b></h6>
                    <p><i class="fa fa-envelope-open-o left" aria-hidden="true"></i> &#160&#160<a href="mailto:name@example.com" target="_blank">ei-proxy@fontys.nl</a><br/>
                        <i class="fa fa-facebook left" aria-hidden="true"></i> &#160&#160<a href="https://www.facebook.com/FontysProxy" target="_blank">.com/FontysProxy</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF CONTACTS -->

    <!-- FOOTER -->
    <!-- issue 7 -->

    <div class="container section no-bottom-margin">
        <div class="row">
            <div class="c8 off-c2 columns centered-hor">
                <i class="fa fa-heartbeat fa-5x" aria-hidden="true"></i>
                <i><p><br/>Made with love by Proxy Fhict.<br/>Edition 2017</p></i>
            </div>
        </div>
    </div>

    <!-- END OF FOOTER -->
    <!--</div>-->
    <!-- END OF HOME TAG -->
</body>


<!-- VueJS -->
<script src=" https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js "></script>
<!-- Lodash -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js "></script>
<!-- Axios -->
<!-- NB: htpp library for javascript -->
<!-- asyncronous get/put etc requests -->
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js "></script>
<!-- Using the vue-gmaps library -->
<!--<script src="vue-google-maps.js "></script>-->
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    // // example of a filter
    // Vue.filter('uppercase', function(value) {
    //     return value.toUpperCase();
    // })
    // // to use the filter apply the chain: {{ value | filter1 | filter2 ... }}

    // Vue.use(VueGoogleMaps, {
    //     load: {
    //         key: 'AIzaSyAyGLhQ3ApHbdbFX1GWlyn2lwaNmV6Cpfg'
    //     },
    //     // Demonstrating how we can customize the name of the components
    //     installComponents: false,
    // });

    // document.addEventListener('DOMContentLoaded', function() {
    //     Vue.component('google-map', VueGoogleMaps.Map);
    //     Vue.component('google-marker', VueGoogleMaps.Marker);
    var agendaapp = new Vue({
            el: '#agenda',
            data: {
                // events obtained from API
                events: [],
                // the google maps data 
                // center: {
                //     lat: 10.0,
                //     lng: 10.0
                // },
                eventnumber: 0,
                EVENTNUMBERINCREMENT: 2,
                loadingplaceholder: "Loading... ",
                notloaded: true,
                activeless: false,
                menuactive: false,
            },
            created() {
                this.getevents();
            },
            methods: {
                loadevents: function(number) {
                    var app = this;
                    axios.get('https://proxy-ict-api.herokuapp.com/events/' + number) // grab data from this link
                        .then(function(response) {
                            console.dir(response);

                            app.events = response.data
                                // to hide the loading placeholder
                            app.notloaded = false;
                            if (app.eventnumber > app.EVENTNUMBERINCREMENT) {
                                app.activeless = true;
                            } else {
                                app.activeless = false;
                            }
                        })
                        .catch(function(error) { // error occured case
                            app.events = [];
                        })
                },
                getevents: function() {
                    // because of inheritance we need to get the reference to the app
                    notloaded = true;
                    this.eventnumber += this.EVENTNUMBERINCREMENT;


                    this.loadevents(this.eventnumber)
                },
                geteventsreset: function() {
                    // because of inheritance we need to get the reference to the app
                    notloaded = true;
                    this.eventnumber = this.EVENTNUMBERINCREMENT; // reset
                    this.loadevents(this.eventnumber);
                    // scroll back to top
                    $("html, body").animate({
                        scrollTop: $("#agenda").offset().top
                    }, 500);
                },
                // since the time is returned as string it is not parsed into datetime by default
                // this custom method prepares the correct representation of the date
                geteventtime: function(event) {
                    ds = new Date(event.start_time);
                    de = new Date(event.end_time);

                    function addZero(i) {
                        if (i < 10) {
                            i = "0" + i;
                        }
                        return i;
                    };


                    datestring = ds.getFullYear() + '-' + ds.getMonth() + '-' + ds.getDate() + ': ' +
                        addZero(ds.getHours()) + ':' + addZero(ds.getMinutes()) + ' - ' +
                        addZero(de.getHours()) + ':' + addZero(de.getMinutes());

                    return datestring;
                },
                checkupcomingevent: function(event) {
                    ds = new Date(event.start_time);
                    if (ds >= Date.now()) {
                        return "highlight-txt";
                    } else {
                        return "pale-txt";
                    }
                },

                // used to display the menu
                showmenu: function() {
                    console.log("off");
                    this.menuactive = true;
                },


                // get the correct marker representation to display on map
                // getmarkerposition: function(event) {
                //     var marker = {
                //         // position: {
                //         //     lat: event.place.location.latitude,
                //         //     lng: event.place.location.longitude
                //         // }
                //         position: {
                //             lat: 10.0,
                //             lng: 10.0
                //         }
                //     };
                //     console.dir(marker);
                //     return marker;
                // }
            }
        })
        // });
</script>


</html>