<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tut</title>

    <!-- some dependencies and frameworks... -->
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    <!-- Milligram CSS -->
    <!--<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="node_modules/milligram/dist/milligram.min.css">
    <link rel="stylesheet" href="https://milligram.github.io/styles/main.css">-->

    <!-- Skeleton CSS -->
    <link rel="stylesheet" href="../../globals/skeleton-css/normalize.css">
    <link rel="stylesheet" href="../../globals/skeleton-css/skeleton.css">


    <!-- Custom css -->
    <!-- TO BO CHANGED! -->
    <link rel="stylesheet" href="custom.css">

</head>

<body>


    <!-- should be split after into resuable blocks -->



    <!-- NAVBAR -->
    <!-- issue 1 -->
    <!-- END OF NAVBAR -->

    <!-- WELCOME -->
    <!-- issue 2 -->
    <header>
        <!--header contains the background picture in css-->
        <div id="welcome" class="container center-wrap">
            <div class="centered-hor centered-ver">
                <!--content goes here-->
                <div>
                    <img src="proxy.png" />
                </div>
            </div>
        </div>
    </header>
    <!-- section closing tag -->

    <!-- END OF WELCOME -->

    <!-- QUOTE -->
    <!-- issue 3, assigned: Dmitrii -->
    <section>
        <div id="homequote" class="container section">
            <div class="row">
                <div class="c12 columns">
                    <!-- not sure abou the code styling to be used here in the end -->
                    <!--<pre><code>
            We are proxy, the student association for the ICT English stream
            Our job is to connect students to each other and companies    
            </code></pre>-->
                    <h4 class="centered-hor">
                        We are proxy, the student association for the ICT English stream <br/> Our job is to connect students to each other and companies
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF QUOTE -->

    <!-- SERVICES -->
    <!-- issue 4, assigned: Dmitrii -->
    <section>
        <div id="services" class="container section">
            <div class="row">
                <div class="c3 columns centered-hor">
                    <!-- pictures need to be changed -->
                    <img src="basic_star.png" class="value-img" />
                    <h5>Party</h5>
                    <h6>Meet other students, share drinks and have fun</h6>
                </div>
                <div class="c3 columns centered-hor">
                    <img src="basic_star.png" class="value-img" />
                    <h5>Classes</h5>
                    <h6>Learn more about IT at our workshops and lectures</h6>
                </div>
                <div class="c3 columns centered-hor">
                    <img src="basic_star.png" class="value-img" />
                    <h5>Competitions</h5>
                    <h6>Join our gaming and sports challenges TO WIN BIG</h6>
                </div>
                <div class="c3 columns centered-hor">
                    <img src="basic_star.png" class="value-img" />
                    <h5>Support</h5>
                    <h6>We are always ready to help with any troubles</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF SERVICES -->

    <!-- AGENDA -->
    <!-- issue 5, assigned: Dmitrii -->
    <section>
        <div id="agenda" class="container section">
            <div class="row">
                <h1 class="centered-hor section-head">
                    Agenda
                </h1>
                <div class="c6 columns">
                    <div class="agenda-item" v-for="ev in events">
                        <!--<h6>2017-03-28 : 16:00:00 - 20:00:00</h6>-->
                        <h6>{{geteventtime(ev)}}</h6>
                        <!--name-->
                        <h5>{{ev.name}}</h5>
                        <!--description-->
                        <p>{{ev.description.substring(0,100)}}...
                            <br/>
                            <!-- the link is made of: https://www.facebook.com/events/ + page id from API -->
                            <a :href="'https://www.facebook.com/events/'+ev.id" target="_blank">View more...</a>
                        </p>
                    </div>
                    <div>
                        <h4 v-text="loadingplaceholder" v-if="notloaded"></h4>
                    </div>
                    <div>
                        <button @click="getevents">
                        More Events!
                        </button>
                        <button @click="geteventsreset" v-if="activeless">
                            Show less...
                        </button>
                    </div>
                </div>
                <!--<div class="c6 off-c2 columns">-->
                <!-- place for a map? -->
                <!--<google-map :center="center" :zoom="7" style="width: 100%; height: 500px">-->
                <!--<google-marker v-for="ev in events" :position="getmarkerposition(ev)" :clickable="true" :draggable="true" @click="center=getmarkerposition(ev)"></google-marker>-->
                <!--</google-map>-->
                <!--</div>-->
            </div>
        </div>
    </section>
    <!-- END OF AGENDA -->

    <!-- CONTACTS -->
    <!-- issue 6 -->
    <section>
        <div id="contacts" class="container section">

        </div>
    </section>
    <!-- END OF CONTACTS -->

</body>


<!-- VueJS -->
<script src=" https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js "></script>
<!-- Lodash -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js "></script>
<!-- Axios -->
<!-- NB: htpp library for javascript -->
<!-- asyncronous get/put etc requests -->
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js "></script>
<!-- Using the vue-gmaps library -->
<!--<script src="vue-google-maps.js "></script>-->


<script>
    // Vue.use(VueGoogleMaps, {
    //     load: {
    //         key: 'AIzaSyAyGLhQ3ApHbdbFX1GWlyn2lwaNmV6Cpfg'
    //     },
    //     // Demonstrating how we can customize the name of the components
    //     installComponents: false,
    // });

    // document.addEventListener('DOMContentLoaded', function() {
    //     Vue.component('google-map', VueGoogleMaps.Map);
    //     Vue.component('google-marker', VueGoogleMaps.Marker);
    var app = new Vue({
            el: '#agenda',
            data: {
                // events obtained from API
                events: [],
                // the google maps data 
                // center: {
                //     lat: 10.0,
                //     lng: 10.0
                // },
                eventnumber: 0,
                EVENTNUMBERINCREMENT: 2,
                loadingplaceholder: "Loading... ",
                notloaded: true,
                activeless: false,
            },
            created() {
                this.getevents();
            },
            methods: {
                loadevents: function(number) {
                    var app = this;
                    axios.get('https://proxy-ict-api.herokuapp.com/events/' + number) // grab data from this link
                        .then(function(response) {
                            console.dir(response);

                            app.events = response.data
                                // to hide the loading placeholder
                            app.notloaded = false;
                            if (app.eventnumber > app.EVENTNUMBERINCREMENT) {
                                app.activeless = true;
                            } else {
                                app.activeless = false;
                            }
                        })
                        .catch(function(error) { // error occured case
                            app.events = [];
                        })
                },
                getevents: function() {
                    // because of inheritance we need to get the reference to the app
                    notloaded = true;
                    this.eventnumber += this.EVENTNUMBERINCREMENT;


                    this.loadevents(this.eventnumber)
                },
                geteventsreset: function() {
                    // because of inheritance we need to get the reference to the app
                    notloaded = true;
                    this.eventnumber = this.EVENTNUMBERINCREMENT; // reset
                    this.loadevents(this.eventnumber)
                },
                // since the time is returned as string it is not parsed into datetime by default
                // this custom method prepares the correct representation of the date
                geteventtime: function(event) {
                    ds = new Date(event.start_time);
                    de = new Date(event.end_time);

                    function addZero(i) {
                        if (i < 10) {
                            i = "0" + i;
                        }
                        return i;
                    };


                    datestring = ds.getFullYear() + '-' + ds.getMonth() + '-' + ds.getDate() + ': ' +
                        addZero(ds.getHours()) + ':' + addZero(ds.getMinutes()) + ' - ' +
                        addZero(de.getHours()) + ':' + addZero(de.getMinutes());

                    return datestring;
                },
                // get the correct marker representation to display on map
                // getmarkerposition: function(event) {
                //     var marker = {
                //         // position: {
                //         //     lat: event.place.location.latitude,
                //         //     lng: event.place.location.longitude
                //         // }
                //         position: {
                //             lat: 10.0,
                //             lng: 10.0
                //         }
                //     };
                //     console.dir(marker);
                //     return marker;
                // }
            }
        })
        // });
</script>


</html>